body {
	margin-left:50px;
	margin-right:50px;
	background-color:lightgreen;
	color:black;
}

h1 {
	font-size:50px;
}

a {
	color:black;
	font-size:30px;
}

table, th, td {
	font-size:30px;
	border-width:1px;
	border-color:black;
	border-style:solid;
	text-align:center;
}

th, td {
	padding:15px;
}

button {
  background-color:coral; 
  border:none;
  color:white;
  padding:15px 50px;
  text-align:center;
  text-decoration:none;
  display:inline-block;
  font-size:20px;
}