.navbar-custom {background-color: rgb(11, 0, 61);}
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.circleImage {
    border-radius: 50%;
}
@font-face {
    font-family: 'sf_slapstick_comicregular';
    src: url('SF_Slapstick_Comic-webfont.eot');
    src: url('SF_Slapstick_Comic-webfont.eot?#iefix') format('embedded-opentype'),
         url('SF_Slapstick_Comic-webfont.woff2') format('woff2'),
         url('SF_Slapstick_Comic-webfont.woff') format('woff'),
         url('SF_Slapstick_Comic-webfont.ttf') format('truetype'),
         url('SF_Slapstick_Comic-webfont.svg#sf_slapstick_comicregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
h1 { font-family:'sf_slapstick_comicregular'; }
h4{font-family:'sf_slapstick_comicregular';}
h2{font-family:'sf_slapstick_comicregular';}
.btn-font {font-family:'sf_slapstick_comicregular';}
